<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
    {% block link %}{% end %}

</head>
<body>
<div class="container" style="max-width: 99%">
    <div class="row">
        <div class="col-sm-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">ImgUp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/expract">Expract</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/upload">Upload</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-sm-2" style="max-width: 200px">
            {% if username %}
                <span>{{ username }}</span>|<a href="/loginout">退出</a>
            {% else %}
                <a href="/login">登录</a>|<a href="/signup">注册</a>
            {% end %}
        </div>
    </div>






{% block body %}{% end %}
{% block script %}{% end %}
<script src="{{ static_url('js/jquery.js') }}"></script>
<script src="{{ static_url('js/popper.js') }}"></script>
<script src="{{ static_url('js/bootstrap.js') }}"></script>
</div>
</body>
</html>