<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title{% end %}</title>
    {#  传入需要继承的bootstrap font-awesome  #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('font-awesome-4.7.0/css/font-awesome.css') }}">
    {#  end  #}
    {% block link %}{% end %}

</head>
<body>
<div class="container" style="max-width: 99%">
    <div class="row">
        <div class="col-sm-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><i class="fa fa-camera fa-lg"></i> ImgUp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/expract"><i class="fa fa-bluetooth" aria-hidden="true"></i>Expract</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/upload"><i class="fa fa-file" aria-hidden="true"></i>Upload</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-paw" aria-hidden="true"></i>Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Like</a>
                                <a class="dropdown-item" href="/profile">Information</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/session">talk room</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-sm-2" style="max-width: 200px">
            {% if current_user %}
            <i class="fa fa-address-card-o fa-lg"></i><span>{{ current_user }}</span>|<a href="/loginout"><i class="fa fa-reply" aria-hidden="true"></i>退出</a>
            {% else %}
            <a href="/login"><i class="fa fa-share" aria-hidden="true"></i>登录</a>|<a href="/signup"><i class="fa fa-paper-plane" aria-hidden="true"></i>注册</a>
            {% end %}
        </div>
    </div>


    {% block body %}{% end %}

{#  导入需要的js  #}
    <script src="{{ static_url('js/jquery.js') }}"></script>
    <script src="{{ static_url('js/popper.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.js') }}"></script>
    {% block script %}{% end %}
</div>
</body>
</html>