{% extends ./base.html %}

{% block title %}Expract{% end %}

{% block body %}
    {#  循环所有上传的图片缩略图的实例  #}
    {% for i in data %}
        <div class="card" style="width: 18rem; display: inline-block">
            {#      取出每一个对象的id值，Post模板的唯一id      #}
            <a href="/post/{{ i.id }}">
                {#        将每一个对象的缩略图路径展示到页面        #}
                <img src="{{ static_url('{}'.format(i.thumb_url)) }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <p class="card-text">
                    {#    这里的i.user__post在模型中有relationship      #}
                    {#    是谁上传的图片，点击后就跳到那个人的profile页    #}
                    上传用户：<a href="/profile?name={{ i.user_post.username }}">{{ i.user_post.username }}</a>
                </p>
            </div>
        </div>
    {% end %}

{% end %}