{% extends ./base.html %}

{% block title %}Index{% end %}

{% block body %}
<div class="row">
    <div class="col col-sm-9">
        {% if not data %}
            {#      如果没上传过图片      #}
            <p>还没上传过图片，请去<a href="/upload">上传</a></p>
        {% else %}
            {#    如果上传过图片，就展示图片， 并且点击后进入大图    #}
            {% for i in data %}
                <a href="/post/{{ i.id }}"><img src={{ static_url('{}'.format(i.img_url)) }} alt="error" width="900px"></a>
            {% end %}
        {% end %}
    </div>
    <div class="col-sm-3 d-none d-sm-block">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ static_url('images/tl.jpg') }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{% if username %}{{ username }}{% end %}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
</div>
{% end %}