{% extends ./base.html %}

{% block title %}Profile{% end %}

{% block body %}

<div class="card">
  <div class="card-header">
    当前用户是
  </div>
  <div class="card-body">
      {# 将user对象的username属性拿到并展示 #}
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
{#   /atte?uid={{ user.id }}&from=profile&pwd={{ user.password }}   #}
{#   关注这个a标签 通过点击这个关注后发起ajax的post请求 向后台发起一个请求 将user.id发送给 tornado后台   #}
    <a href="#" class="btn btn-primary" id="atte" >关注</a>
      <span id="uid" class="{{ user.id }}" style="display: none;"></span>
  </div>
</div>
{# 用户上传 #}
<div class="card">
    <div class="card-header"><h3>用户上传</h3></div>
    <div class="row">
        {#    循环posts实例，取每一个对象  这里的posts是该用户上传的所有图片    #}
        {% for i in posts %}
            <div class="card col-6 col-sm-3" style="width: 18rem; display: inline-block">
                {#        拿到每个对象的id，当点击大图的时候跳转到单个图片页        #}
                <a href="/post/{{ i.id }}">
                    {#        拿到每个对象的thumb_url缩略图路径 展示到页面          #}
                    <img src="{{ static_url('{}'.format(i.thumb_url)) }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        {% end %}
    </div>
</div>



{# 用户喜欢 #}
<div class="card">
    <div class="card-header"><h3>用户喜欢</h3></div>
    <div class="row">
        {#    拿到用户喜欢的图片实例 循环出每一个对象    #}
        {% for i in like_post %}
            <div class="card col-6 col-sm-3" style="width: 18rem; display: inline-block">
                <a href="/post/{{ i.id }}">
                    <img src="{{ static_url('{}'.format(i.thumb_url)) }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
            </div>
        {% end %}
    </div>
</div>

{% end %}

{% block script %}
    <script src="{{ static_url('js/atte.js') }}"></script>
{% end %}